*{
    margin: 0px;
    padding: 0px;;
  }
  /* Hero Section Style Code */
  .profile-s{
    width: 100%;
    background-color:  #495E57;
  }
  .Profile{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }
  .data{
  margin: auto 3rem;
}
.profile-img{
  display: block;
  margin: auto;
}
.profile-img > img{
  width: 300px;
  border-radius: 16px;
}
.info{
  padding: 0.4rem;
}
.description{
  color: white;
}
.btn{
  padding: 0.3rem;
  border-radius: 16px;
  margin: 0rem 0rem 0rem 0.4rem;
}
@media screen and (max-width:700px){
  .profile-img > img {
    width: 88px;
    border-radius: 16px;
}
}