/* *{
  margin: 0px;
  padding: 0px;;
} */
/* Hero Section Style Code */
/* .profile-s{
  width: 100%;
  background-color:  #495E57;

} */
/* .Profile{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 3rem;
} */
/* .data{
  margin: auto 3rem;
} */
/* .profile-img{
  display: block;
  margin: auto;
  padding: 5rem;
} */
/* .profile-img > img{
  width: 300px;
  border-radius: 16px;
}
.info{
  padding: 0.4rem;
}
.description{
  color: white;
} */
/* .btn{
  padding: 0.3rem;
  border-radius: 16px;
  margin: 0rem 0rem 0rem 0.4rem;
} */
/* @media only screen and (max-width:380px)
{ */
  /* .Profile{
    display: flex;
    align-items: center;
    background-color:  #495E57;
    height: 35rem;
    margin-top: 3rem;
    width: 55rem;
  } */
/* } */